*{
  padding:10%;
  margin: 0%;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
  font-family:  'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
  

}
 
 
 
.row {
  margin: -10px 0;
}
.col {
  padding: 10px 0;
}
.price {
  margin: 0;
  padding: 0;
  list-style-type: none;
  -webkit-transition: .3s;
  transition:.3s;
}
.price:hover {
  box-shadow: 0 8px 20px;
}
li {
  padding: 20px;
  font-size: 17px;
  text-align: center;
  border-bottom: 1px  solid #A8A8A8 ;
  letter-spacing: 1px;
}
.header {
  color: white;
  font-size: 27px;
  background-color: #000000;
}
.col:nth-child(2) .header {
  color: white;
  background-color: #616161;
}
.red {
  color: white;
  font-size: 22px;
  background-color: #A8A8A8;
}
.button {
  color: black;
  padding: 10px 25px;
  font-size: 19px;
  text-decoration: none;
  background-color: green;
}
p {
  font-size: 18px;
}

@media only screen and (min-width: 600px) {
  .row {
    margin: 0 -10px;
  }
  .row::after {
    clear: left;
    content: '';
    display: block;
  }
  .col {
    float: left;
    width: calc(100%/3);
    padding: 0 10px;
  }
}